@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Noto+Sans+Khmer:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moul&display=swap');
h1,h3,h4,h5{
    font-family: "Noto Sans Khmer", serif !important;
}
h2{
    font-family: "Moul",sans-serif !important;
}
body{
    font-family: 'Kantumruy Pro', serif;
}


/*slider*/
.swiper {
    width: 100%;
    height: 100%;
}
.swiper-button-next, .swiper-button-prev{
    color:#ffffff !important;
    transition: all .5s ease-in-out;
}
.swiper-button-next::after, .swiper-button-prev::after{
    font-size: 32px !important;
    transition: all .5s ease-in-out;
}
.swiper-button-next:hover, .swiper-button-prev:hover{
    background: rgba(143, 68, 64, 0.46) !important;
    padding: 30px !important;
    border-radius: 50% !important;
}

.swiper-pagination-bullet{
    transition: all 0.5s ease-in-out;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active{
    background: #ffffff !important;
    width: 32px !important;
    height: 7px !important;
    border-radius: 4px !important;
}

.swiper_2 {
    width: 100%;
    height: 100%;
}

.swiper_3{
    width: 100%;
    height: 100%;
}

.bg-image{
    position: relative;
    background-image: url("../images/background.jpg");
    width: 100%;
    height: 100%;
    min-height: 64vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.clip-image-1{
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 74%);
}

.swiper-text {
    width: 100%;
    background: rgba(0,0,0,0.6);
    position: absolute;
    bottom: 30px;
    left: 0;
    transform: translateX(-50%);
    color: white;
    text-align: center;
    font-size: 24px;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.swiper_train {
    width: 100%;
    height: 100%;
}

.swiper_train .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper_train .swiper-slide {
    width: 80%;
}

.swiper_train .swiper-slide:nth-child(2n) {
    width: 80%;
}

.parallax-bg {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}